[Unit]
Description=Bubba buttond daemon

[Service]
Type=forking
PIDFile=/run/bubba-buttond.pid
ExecStart=/opt/bubba/sbin/buttond

[Install]
WantedBy=multi-user.target
