[Unit]
Description=Bubba Firewall
# sounds reasonable to have firewall up before any of the services go up
Before=network.target
Conflicts=shutdown.target

[Service]
Type=oneshot
EnvironmentFile=/etc/conf.d/bubba-firewall
ExecStart=/opt/bubba/sbin/bubba-firewall.sh start
ExecReload=/opt/bubba/sbin/bubba-firewall.sh reload
ExecStop=/opt/bubba/sbin/bubba-firewall.sh stop
RemainAfterExit=yes

[Install]
WantedBy=basic.target

