[Unit]
Description=Oikomaticz - Home Automation System

[Service]
ExecStart=$APPROOT/oikomaticz -wwwroot $WWWROOT -log $LOGFILE -dbase $DBASE -approot $APPROOT  $EXTRAPARMS
StandardOutput=null

[Install]
WantedBy=multi-user.target

